*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.flex-img{
    width: 400px;
    /* height: 300px; */
}


.flex{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.img-3{
    height: 270px;
object-fit: cover;
}

p{
    text-align: center;
    width: 400px;
}

h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}